@import "../../../styles/breakpoints.scss";

.show {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  padding: 0 20px 20px;

  @include medium {
    flex-direction: row;
  }
}

.show-title {
  padding: 60px 0;
}

.show-image {
  width: 100%;

  @include medium {
    width: auto;
  }
}

.show-content {
  padding: 20px;
  position: relative;
  text-align: left;
}

.show-genres {
  padding: 0;
  margin: 0 0 20px 20px;
}

.show-content-head {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 20px;

  .rating {
    font-size: 14px;
    color: grey;
  }

  .genres {
    font-size: 14px;
    color: grey;
    display: flex;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin-right: 4px;
      &:after {
        content: ",";
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.btn {
  background-color: #ccc;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
}
