.navigation {
  padding: 20px;
  position: fixed;
  right: 30px;
  top: 30px;

  ul {
    display: flex;
    max-width: 940px;
    justify-content: flex-end;
    text-align: right;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin-left: 10px;
  }

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &.active {
      color: #ccc;
    }
  }
}
